# Connect to your cloud PostgreSQL provider (e.g. Supabase, Neon, AWS RDS, Render, Vercel Postgres)
DATABASE_URL="postgresql://USER:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://USER:PASSWORD@aws-0-REGION.pooler.supabase.com:5432/postgres"

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBAPP_URL=

TELEGRAM_PAYMENT_PROVIDER_TOKEN=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_REDIRECT_URI=

NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=

